@page "/"

<PageTitle>Connct Four</PageTitle>

<div>
    <h1 class="bebas-neue-regular">
        Welcome to Connect Four :)
    </h1>
</div>
<div class="containerr"></div>
<div class="content">
    <div class="hero">
        <Board @rendermode="InteractiveServer" />
    </div>   
</div>


